<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>NSCameraUsageDescription</key>
	<string>请允许App访问您的相机</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许App访问您的相册</string>
  </dict>
</plist>